#Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 #555;
  background: white;
  font-family: Montserrat;
}
#aqInfoContainer{
display: flex;
width: 90%;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}

#aqisection{
  margin: 20px 25px 10px;
    text-transform: capitalize;
    text-align: start;
    width: 90%;
    font-weight: bold;
    font-size: 14px;
}

