#WeatherLogo{
    width:90%;
    height:auto;
    margin:50px 50px;
}

#ChooseCityLabel{
    color:black;
    font-size:20px;
    font-weight:bolder;
    margin:10px 10px;
}

#SearchBox{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    color:white;
    font-size:25px;
    font-weight:bold;
    margin:20px auto;
    /* background-color: lavender; */
    border-radius: 16px;
    backdrop-filter: blur(10px); /* Frosted glass */
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 90%;
}
#SearchBox>input{
    padding:10px;
    font-size:14px;
    border:none;
    outline:none;
    font-weight:bold;
    border: none;
    color: white;
    /* background-color: lavender; */
    border-radius: 20px;
    background: none;
    letter-spacing: 2px;
}
#SearchBox>input::placeholder {
    color: white;
    opacity: 0.7; /* optional: make it slightly transparent */
}

#SearchBox>button{
    padding:10px;
    font-size:14px;
    border:none;
    outline:none;
    font-weight:bold;
    cursor:pointer;
    border-radius: 0px 16px 16px 0px;
}

@media screen and (min-width: 480px) {
    #WeatherLogo{
        height: 400px;
        width: auto;
        margin: 0;
    }
    
}