#WeatherLogo{
    width:90%;
    height:auto;
    margin:50px 50px;
}

#ChooseCityLabel{
    color:black;
    font-size:20px;
    font-weight:bolder;
    margin:10px 10px;
}

#SearchBox{
    display:flex;
    flex-direction:row;
    color:black;
    font-size:25px;
    font-weight:bold;
    margin:20px auto;
    background-color: lavender;
    border-radius: 16px;
}
#SearchBox>input{
    padding:10px;
    font-size:14px;
    border:none;
    outline:none;
    font-weight:bold;
    border: none;
    background-color: lavender;
    border-radius: 20px;
}
#SearchBox>button{
    padding:10px;
    font-size:14px;
    border:none;
    outline:none;
    font-weight:bold;
    cursor:pointer;
    border-radius: 0px 16px 16px 0px;
}

@media screen and (min-width: 480px) {
    #WeatherLogo{
        height: 400px;
        width: auto;
        margin: 0;
    }
    
}